<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- LINUX
    <add key="UnprocessedDirectory" value="/home/quake/quake1/crmod/stats/unprocessed"/>
    <add key="ErrorDirectory" value="/home/quake/quake1/crmod/stats/error"/>
    <add key="ProcessedDirectory" value="/home/quake/quake1/crmod/stats/processed"/>
    -->
    <!-- Windows -->
    <add key="UnprocessedDirectory" value="C:\_dev\unprocessed"/>
    <add key="ErrorDirectory" value="C:\_dev\error"/>
    <add key="ProcessedDirectory" value="C:\_dev\processed"/>
  </appSettings>
</configuration>